<!-- Hero Section -->
<section class="text-center mb-16 hero-gradient py-10 rounded-3xl">
    <h1
        class="text-5xl md:text-6xl font-black tracking-tight mb-6 bg-clip-text text-transparent bg-gradient-to-b from-white to-white/60"
    >
        The Future of <br />Decentralized Finance.
    </h1>
    <p class="text-slate-400 max-w-2xl mx-auto text-lg leading-relaxed">
        Experience the next generation of digital asset management with our
        secure, non-custodial wallet dashboard. Manage your assets with
        precision and ease.
    </p>
</section>
