---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";

import Web3Provider from "./Web3provider.tsx";
import { ConnectButton } from "./WalletConnect";
import Navbar from "./Navbar.astro";
import Hero from "./Hero.astro";
import Dashboard from "./Dashboard.astro";
---

<div id="container">
	<Navbar />
	<Web3Provider client:load />
	<Hero />
	<Dashboard />
</div>
